/*GLOBAL*/

@import url("./font.css");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1400px;
  padding: 0 5px;
  margin: 0 auto;
}

.small-container {
  max-width: 1090px;
  padding: 0 5px;
  margin: 0 auto;
}

/*Menu*/

.menu {
  margin: 0 auto;
}

.menu__inner {  
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-color: #373A3C;
}

.menu__logo {
  width: 96px;
  height: 29px;
}

.menu__logo img {
  cursor: pointer;
}

.menu__list-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list-item {
  margin-left: 35px;
  list-style-type: none;
  transition: all 0.3s ease;
}

.menu__list-item a {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1.1px;
}

.menu__list-item:nth-child(1) a::after {
  content: url("../images/down-arrow.svg");
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 7px;
}

.menu__list-item:nth-child(2) a::after {
  content: url("../images/down-arrow.svg");
  padding-left: 7px;
}

.account::before {
  content: url("../images/Shape.svg");
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -25px;
}

.account::after {
  content: url("../images/down-arrow.svg");
  position: absolute;
  top: 0;
  right: -25px;
}

.account {
  margin-top: 5px;
  margin-left: 20px;
  position: relative;
}

.menu__list-item a:hover {
  color: #fff;
}

.menu__list-search input {
  width: 210px;
  height: 38px;
  font-family: "HelveticaNeue";
  color: #435766;
  font-size: 16px;
  line-height: 21px;  
}

/*Header*/

.header {
  margin: 0 auto;
}

.header__inner {
  background-image: url("../images/Star-Wars-Battlefront-II-combat.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 206px;
  padding-bottom: 200px;
}

.header__about {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 545px;
  margin-bottom: 134px;
}

.header__about-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__about div {
  color: #fff;
  font-family: "HelveticaNeue";
}

.header__about-title {
  font-size: 36px;
  line-height: 42px;
}

.header__about-part {
  font-size: 24px;
  line-height: 28px;
}

.header__btns {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  max-width: 840px;
}

.header__btn {
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px 9px;
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.watch {
  padding: 8px 19px 9px;
  background-color: #8dd83d;
}

.explore {
  margin-left: 13px;
  padding: 8px 24px 9px 19px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
}

/*highlight*/

.highlight {
  margin: 0 auto;
}

.highlight__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #373a3c;
}

.highlight__upside {
  margin: 0 auto 30px;
  align-items: center;
}

.highlight__inner-logo img {
  margin-top: 64px;
  margin-bottom: 16px;
  color: #fff;
  width: 64px;
  height: 64px;
}

.highlight__inner-text {
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 10px;
}

.highlight__inner-title {
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 36px;
  line-height: 42px;
}

.highlight__card-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-bottom: 162px;
}

.highlight__card-item {
  flex-direction: column;
  text-align: left;
  border: 1px solid #8DD83D;
  width: 320px;
  background-color: #fff;
}

.highlight__card-item img {
  text-align: left;
  margin-bottom: 15px;
}

.highlight__card-title {
  font-family: "HelveticaNeue";
  color: #435766;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 13px;
  padding-left: 22px;
}

.highlight__card-text {
  font-family: "HelveticaNeue";
  color: #435766;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 38px;
  padding-left: 22px;
}

.highlight__card-btn {
  width: 278px;
  height: 60px;
  background-color: #8DD83D;
  border-radius: 4px;
  margin-bottom: 27px;
  margin-left: 22px;
}

.highlight__card-btn a {
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  padding-top: 19px;
  padding-left: 18px;

}

.highlight__card-item+.highlight__card-item {
  margin-left: 64px;
}

/*games*/

.games {
  margin: 0 auto;
}

.games__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/rectangle-bg.png");
}

.games__upside {
  padding-top: 97px;
  padding-bottom: 28px;
}

.games__upside-inner-text {
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 36px;
  line-height: 42px;
}

.games__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.games__center-box+.games__center-box {
  margin-left: 16px;
}

.games__center-card1,
.games__center-card3 {
  width: 320px;
  border: 1px solid #8DD83D;
  background-color: #eaeaea;
}

.games__center-card1 img,
.games__center-card3 img {
  margin-bottom: 21px;
}

.games__center-card1-title,
.games__center-card2-title,
.games__center-card3-title {
  font-family: "HelveticaNeue";
  color: #435766;
  font-size: 18px;
  line-height: 22px;
  padding-left: 21px;
}

.games__center-card1-title {
  margin-bottom: 16px;
}

.games__center-card1-text {
  font-family: "HelveticaNeue";
  color: #435766;
  font-size: 21px;
  line-height: 25px;
  padding-left: 21px;
  margin-bottom: 43px;
}

.games__center-card1-btn,
.games__center-card2-btn,
.games__center-card3-btn {
  width: 278px;
  height: 60px;
  border-radius: 4px;
  background-color: #8DD83D;
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 16px;
  line-height: 21px;
}

.games__center-card1-btn,
.games__center-card3-btn {
  margin-bottom: 27px;
  margin-left: 21px;
}

.games__center-card2 {
  width: 326px;
  border: 1px solid #8DD83D;
  background-color: #fff;
}

.games__center-card2 img {
  width: 324px;
  margin-bottom: 25px;
}

.games__center-card2-title {
  margin-bottom: 121px;
}

.games__center-card2-btn {
  margin-bottom: 30px;
  margin-left: 23px;
}

.games__center-card3-title {
  margin-bottom: 109px;
}

.games__downside {
  padding-bottom: 140px;
}

.games__downside-inner-btn {
  width: 207px;
  height: 53px;
  border-radius: 4px;
  background: linear-gradient(#686C6F, #373A3C);
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 21px;
  line-height: 21px;
}

/*deslab*/

.deslab {
  margin: 0 auto;
}

.deslab__inner {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  align-content: flex-start;
  text-align: left;
  background-image: url("../images/deslab-bg.png");
}

.deslabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-top: 114px;
  padding-left: 167px;
}

.deslab__title {
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 9px;
}

.deslab__text {
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 37px;
}

.deslab__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 145px;
}

.deslab__buttons-btn {
  background: linear-gradient(#686C6F, #373A3C);
  border-radius: 4px;
  font-family: "HelveticaNeue";
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 60px;
}

.deslab__buttons-btn:nth-child(2) {
  margin-left: 15px;
}